@import "normalize";
@import "./embed.scss";

body {
  background: powderblue;
}

.site-nav {
  background: #444;
  color: #eee;
  margin-bottom: 1rem;
  padding: 0.5rem;

  .logo {
    color: white;
    margin-right: 0.5rem;
  }
}

.logo {
  font-family: impact;
  font-size: 2em;
  font-style: italic;

  em {
    color: red;
  }
}

.site-footer {
  background: gray;
  color: #eee;
  font-size: 0.8em;
  margin-top: 1rem;
  padding: 0.5rem;

  a {
    color: inherit;
    text-decoration: none;
  }
}
